<!DOCTYPE html>

<!-- Define Angular app -->
<html ng-app="myApp">

  <head>

<!-- Sourcing -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="scripts/script.js"></script>

  </head>

  <body ng-controller="mainController">
<!-- Navigation -->
    <nav class="navbar navbar-default" background: blue>
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Meet the Pets Application</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#add"><i class="fa fa-plus-circle"></i> Add Pet</a></li>
          <li><a href="#list"><i class="fa fa-eye"></i> Pet List</a></li>
        </ul>
      </div>
    </nav>

    <div id="main">

      <!-- angular templating -->
  		<!-- this is where content will be injected -->
      <div ng-view></div>

    </div>
<!-- Footer -->
    <footer class="text-center">
      <p>* No animals were harmed in the making of this application.</p>
    </footer>

  </body>

</html>
